body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
  }

    .header {padding-top: 9px;
      background: hsl(20, 14%, 4%,0.8);
      width: 100%;
      height: 73px;
      border-bottom: 5px solid  #081dda;
      position: fixed;
      padding-bottom: -5px;
      
  }
  .fundo {
    padding-top: 0px;
    background: #353434;
    width: 100%;
    height: 100px;
  }

  .caixa {
    max-width: 94%;
    height: 100%;
    margin: 1px auto; 
  }
  
  .header span {
    margin-top: 2px;
    float: left;
  }
  
  .header nav {
    margin-top: 3px;
    float: right;
  }
  
  ul {
    margin-bottom: 5px;
    list-style: none;
  }
  
  .list_not {
    font-style: inherit;
    display: inline;
    margin-left: 22px;
    font-size: 20px;
    transition-duration: 0.4s;
    color: white;
  }
  
  .list_not:hover {
  color: #cb1111;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  

  .container{
      text-align: center;
      max-width: 75%;
      padding-top: 7%;
      padding-bottom: 10%;
      margin-left: 6%;

  }
  
  .home{
    width: 100%; 
    height: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10%;
    
  }

  .Div_nba{
      float: left;
  }
  .placar1{  
    margin-top: -1151px;
    float: left;
    text-align: center;
    padding: 35px 5px 45px 37px;
    border-radius: 20px;
    width: max-content;
    background-color: rgb(240, 240, 240);
    box-shadow: 3px 3px 5px 2px #0549c9;
  }



  .div_jogos{
      float: left;
  }

  .but_times {
      
        font-family: 'Times New Roman', Times, serif font-size: 12px;
        color: rgb(255, 255, 255);
        background-color:darkblue;
       
        border: 0px;
        border-radius: 22px;
        cursor: pointer;
  
  }

  .img_times {
    width: 325px;


    }

    .but_placar {
        font-family: 'Times New Roman', Times, serif ;
        color: rgb(255, 255, 255);
        background-color: darkblue;
        border: 0px;
        border-radius: 22px;
        cursor: pointer;
        margin: 8px;
    margin-left: -180px;
    }




.img_placar {
  width: 326px;
  margin-left: 142px;
  margin-right: 314px;
  margin-top: 193px;
}
      
.but_classificação{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  background-color: darkblue;
  border: 0px;
  border-radius: 22px;
  cursor: pointer;
  margin: 8px;
  margin-left: -94px;
 
      }

      .img_classificação{
          width: 320px;
          margin-left: -100px;
          margin-top: 196px;
      }
   
  
  .rodape {
    background-color: hsl(20, 14%, 4%,0.8);
    color: white;
    width: 314%;
    height: 100px;
    padding-top: 2%;
    margin-top: 20px;
  }
  
  .box_rodape{
    width: 95%;
    height: 100%;
    margin: 0 auto;

  }

  .copyright{
    text-align: center;
    float: left;
    width: 531px;
    height: 50px;
    margin-left: 29.5%;
    margin-top: 35px;
    color: aliceblue;
    margin-left: 313px;
}
  
.james{
  margin: -597px;
    height: 1200px;
    margin-right: -1242px;
    

}



.trae{

    margin: -122px;
    margin-right: 252px;
    margin-top: 40px;

}

.h3_trae{
  font-style: italic;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    margin: -84px;
}
.h4_trae{
  font-style: italic;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: rgb(255, 183, 195);
    margin: 26px;

}

.h3_james{
  font-style: italic;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    margin: -84px;

}
.h3_james{
}

.h4_james{
  font-style: italic;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: rgb(255, 183, 195);
    margin: 26px;
  
}




.quiz{
  margin: -499px;
    height: 1227px;
    margin-right: -1145px;
    margin-top: -901px;
}

.h3_quiz{
  font-style: italic;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    margin: -84px;
}
.h4_quiz{
  font-style: italic;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: rgb(255, 183, 195);
    margin: 26px;
}

.lojinha{
  margin-top: -320px;
  margin-right: -182px;
}

.raptors{
  margin-right: 51px;
    margin-top: 36px;
    margin-left: 170px;
}

.celtics{
  margin-top: 1px;
  margin-right: 9px;
  margin-left: 118px;
}

.lakers{
  margin-right: -311px;
    margin-top: -14px;
    margin-left: 366px;
}

.nets{
  margin-right: 59px;
    margin-top: 0px;
    margin-left: 15px;
}

.magic{
  margin-top: 1px;
  margin-right: 9px;
  margin-left: 118px;
}

.bulls{  
margin-right: -311px;
    margin-top: -14px;
    margin-left: 367px;
}

.heat{
  margin-right: 60px;
  margin-top: -130px;
  margin-left: -1px;
}

.warriors{
  margin-right: 67px;
  margin-top: 36px;
  margin-left: 182px;
}

