body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/244/265/141/basketball-kobe-bryant-wallpaper-preview.jpg);
    background-size: 100%;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    
  }

    .header {
      padding-top: 9px;
      background: hsl(20, 14%, 4%,0.8);
      width: 100%;
      height: 73px;
      border-bottom: 5px solid  #081dda;
      position: fixed;
      padding-bottom: -5px;
      
  }
  .fundo {
    padding-top: 0px;
    background: #353434;
    width: 100%;
    height: 100px;
  }

  .caixa {
    max-width: 94%;
    height: 100%;
    margin: 1px auto; 
  }
  
  .header span {
    margin-top: 2px;
    float: left;
  }
  
  .header nav {
    margin-top: 3px;
    float: right;
  }
  
  ul {
    margin-bottom: 5px;
    list-style: none;
  }
  
  .list_not {
    font-style: inherit;
    display: inline;
    margin-left: 22px;
    font-size: 20px;
    transition-duration: 0.4s;
    color: white;
  }
  
  .list_not:hover {
  color: #cb1111;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .titulo {
    color: rgb(255, 255, 255);
}
.title {
    padding: 2px 0px 0px 0px;
    background-color: hsl(20, 14%, 4%, 0.8);
    width: 100%;
    height: 80px;
    text-align: center;
    border-bottom: 5px solid #1190cb;
}
.pag_login {
  text-align: center;
  padding: 10% 0;
  margin: 0 auto;
  width: 100%;
  height: 480px;
}

.caixa_fundo {
  width: 350px;
  background:  rgba(0, 0, 0, 0.5);
  border-radius: 20% 0;
  box-shadow: 1px 2px 20px rgb(66, 27, 175), 2px 6px 50px rgb(0, 0, 0);
  padding: 50px 20px;
  margin-left: 482px;
   }

.caixa {
  padding-top: 3px;
  margin: auto;
  text-align: center;
  color: white;
}

.caixa input {
  width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: rgba(255, 255, 255, 0.952);
}

.div_aviso {
  margin-top: 2%;
  height: 10px;
  background-color: transparent;
}

.txt_aviso {
  color: rgb(236, 0, 0);
  text-align: center;
  font-size: small;
  font-weight: bolder;
}

#btn_entrar {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  background-color: #0886c0;
  color: white;
  border: 0px;
  font-size: 17px;
  cursor: pointer;
}

#btn_entrar:hover {
  background-color: #82bbd1;
}

.cadastre {
  font-size: small;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cadastre u:hover {
  background-color: azure;
  color: #1190cb;
  cursor: pointer;
}

footer {
  background-color: #ffffff;
  height: 100px;
}

.rodape {
  background-color: #303030;
  color: white;
  width: 100%;
  height: 100px;
  padding-top: 2%;
}

.box_rodape {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  float: left;
  width: 300px;
  height: 50px;
  margin-left: 37%;
  margin-top: 35px;
}
.email{
  margin-top: -27px;
    margin-left: -962px;
}
