body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    background-color: #dfdfe0;
    
  }

    .header {padding-top: 9px;
      background: hsl(20, 14%, 4%,0.8);
      width: 100%;
      height: 73px;
      border-bottom: 5px solid  #081dda;
      position: fixed;
      padding-bottom: -5px;
      
  }
  .fundo {
    padding-top: 0px;
    background: #353434;
    width: 100%;
    height: 100px;
  }

  .caixa {
    max-width: 94%;
    height: 100%;
    margin: 1px auto; 
  }
  
  .header span {
    margin-top: 2px;
    float: left;
  }
  
  .header nav {
    margin-top: 3px;
    float: right;
  }
  
  ul {
    margin-bottom: 5px;
    list-style: none;
  }
  
  .list_not {
    font-style: inherit;
    display: inline;
    margin-left: 22px;
    font-size: 20px;
    transition-duration: 0.4s;
    color: white;
  }
  
  .list_not:hover {
  color: #cb1111;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .box_oeste{

  margin: 210px;
  margin-top: 2px;
  background-color: rgb(207, 209, 211);
  text-align: center;

  }

  .time{
    color: rgba(11, 85, 4, 0.678);
    font-family:'Times New Roman', Times, serif;
  }
  
  .h1{
    margin-left: 425px;
    margin-top: -172px;
  }

  .box_leste{
    margin: 211px;
    margin-top: -167px;
    margin-left: 813px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(207, 209, 211);

  }

  .taca{
    margin-top: -307px;
    margin-left: 595px;
  }
  

  .legenda{
    margin:120px;
  }

  tr{
    border-color:transparent;
    border-radius: 10px;
    color: rgb(15, 15, 15);
  }

  .nets{
    margin-left: 617px;
    margin-top: -370px;
  }

  .jazz{
    margin-left: 620px;
    margin-top: -312px;
  }
  
.finals{
  margin-top: -103px;
  margin-left: 619px;
}
 
.east{
  margin-top: -60px;
    margin-left: 888px;
}

.west{
  margin-top: -80px;
  margin-left: 297px;
}

.rodape {
  background-color: hsl(20, 14%, 4%,0.8);
  color: white;
  width: 314%;
  height: 100px;
  padding-top: 2%;
  margin-top: 20px;
}

.box_rodape{
  width: 95%;
  height: 100%;
  margin: 0 auto;

}

.copyright{
  text-align: center;
  float: left;
  width: 531px;
  height: 50px;
  margin-left: 29.5%;
  margin-top: 35px;
  color: aliceblue;
  margin-left: 313px;
}
.email{
  margin-top: -27px;
    margin-left: -962px;
}
